// IMPORT SECTION
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import "node_modules/bootstrap/scss/bootstrap-grid.scss" // Optional Bootstrap Grid
// @import "node_modules/bootstrap/scss/utilities/_sizing.scss" // Optional Bootstrap Utilites
@import 'node_modules/slick-carousel/slick/slick.scss'; // Slick carousel
@import 'node_modules/font-awesome/scss/font-awesome.scss';
@import 'node_modules/intl-tel-input/src/css/intlTelInput.scss';
@import 'node_modules/retinajs/dist/retina.scss';

// USER VARIABLES SECTION

$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

$mobile-bp: 812px;
$tablet-bp: 1024px;
$laptop-bg: 1366px;

// FONTS LOAD SECTION

@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @font-face {
    font-family: $f-name;
    font-style: $f-style;
    font-weight: $f-weight;
    src: url($f-url + '.woff2') format('woff2');
    src: url($f-url + '.woff') format('woff');
  }
}

@include font('lato', bold, 700, '../fonts/Lato-Bold');
@include font('lato', normal, 400, '../fonts/Lato-Regular');
@include font('lato', semibold, 600, '../fonts/Lato-Semibold');
@include font('lato', thin, 200, '../fonts/Lato-Thin');

@include font('orchidea', bold, 700, '../fonts/OrchideaPro-Bold');
@include font('orchidea', semibold, 600, '../fonts/OrchideaPro-SemiBold');
@include font('orchidea', normal, 400, '../fonts/OrchideaPro-Regular');
@include font('orchidea', thin, 200, '../fonts/OrchideaPro-Light');

// GENERAL DOCUMENT STYLES

.container-fluid {
  display: flex;
  width: 100%;
}
.container {
  max-width: 1360px;
  padding: 0 24px;
  margin: 0 auto;
  @media screen and (min-width: $tablet-bp) {
    padding: 0 40px;
  }
}
//hide el
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-icon {
  display: inline-block;
  fill: currentColor;
  use {
    fill: currentColor;
  }
}
.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.iti__flag {
  background-image: url('../images/dest/img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('../images/dest/img/flags@2x.png');
  }
}
