body {
  min-width: 320px;
  position: relative;
  background-color: $white;
  font-family: $mainfamily;
  color: $textcolor;
  font-size: $fontsize;
  line-height: 26px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  &.body-stop-sroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  font-family: $mainfamily;
  color: $black;
}
p {
  margin: 0;
}

label {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $accent;
  transition: color $base-duration $base-timing;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.currency {
  font-family: $subfamily;
}
