body {
  min-width: 320px;
  position: relative;
  background-color: $white;
  font-family: $mainfamily;
  color: $textcolor;
  font-size: $fontsize;
  line-height: 26px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
  font-family: $highwaySansPro;
  color: $deepblack;
}
h1 {
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
}
h2 {
  font-weight: 300;
  font-size: 43px;
  line-height: 48px;
}
h3 {
  font-weight: 300;
  font-size: 32px;
  line-height: 36px;
}
h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.caption {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.micro {
  font-size: 11px;
  line-height: 16px;
}
p {
  margin: 0;
}

label {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: $accent;
  transition: color $base-duration $base-timing;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
