// colors
$black: #000;
$gray: #8c8c8c;
$averagegray: #bdbdbd;
$lightgray: #d6d6d6;
$neutral: #efefef;
$white: #fff;
$gold: #cc9933;
$err: #ff3333;
$attention: #ff6161;
$accent: #2f80ed;

$fontsize: 16px; // Body Font Size
$textcolor: $black; // Text Color
$lato: lato, sans-serif;
$orchidea: orchidea, sans-serif;
$mainfamily: $orchidea, sans-serif; // Main Font Family
$subfamily: $lato;

$base-duration: 0.3s;
$base-timing: ease-in-out;
