// colors
$accent: #2462f2;
$sec: #73859c;
$sec2: #98a4b2;
$gray1: #fafafc;
$gray2: #e6e6e6;
$gray4: #777777;
$black: #444444;
$deepblack: #000000;
$white: #fff;
$error: #ff5050;
$overlay: rgba(53, 78, 120, 0.3);

$fontsize: 19px; // Body Font Size
$textcolor: $deepblack; // Text Color
$mainfamily: roboto, sans-serif; // Main Font Family
$highwaySansPro: highwaySansPro, sans-serif;

$base-duration: 0.3s;
$base-timing: ease-in-out;
