button,
.btn,
input[type='submit'] {
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: none;
  border-color: transparent;
  font-family: $mainfamily;
  transition: all $base-duration $base-timing;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.btn-hamburger {
  width: 30px;
  height: 30px;
  padding: 5px;
  &.btn-hamburger--active {
  }
}
.btn-hamburger-icon {
  display: block;
  width: 20px;
  height: 2px;
  position: relative;
  background-color: $black;
  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $black;
  }
  &::before {
    top: -7px;
  }
  &::after {
    bottom: -7px;
  }
  // &:hover {
  //   color: $gray;
  //   &::after,
  //   &::before {
  //     background-color: $gray;
  //   }
  // }
}

.btn-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: $black;
  &:hover,
  &:active {
    color: $gray;
  }
  &:focus {
    color: $black;
  }
}
.btn-search-icon {
  display: block;
  width: 16px;
  height: 16px;
}

.btn-basket {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: $black;
  &:hover,
  &:active {
    color: $gray;
  }
  &:focus {
    color: $black;
  }
}
.btn-basket--full {
  &::after {
    content: '';
    position: absolute;
    right: 4px;
    top: 1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $attention;
  }
}
.btn-basket-icon {
  width: 17px;
  height: 20px;
}
.btn-heart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: $black;
  &:hover,
  &:active {
    color: $gray;
  }
  &:focus {
    color: $black;
  }
}
.btn-heart--full {
  &::after {
    content: '';
    position: absolute;
    right: 4px;
    top: 1px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $black;
  }
}
.btn-heart--big {
  width: 40px;
  height: 40px;
  &.btn-heart--full {
    &::after {
      content: '';
      right: 0;
      top: 0;
    }
  }
}
.btn-heart-icon--big {
  width: 34px;
  height: 30px;
}
.btn-heart-icon {
  width: 20px;
  height: 18px;
}
.btn-primary {
  border-radius: 4px;
  background-color: $black;
  padding: 5px 20px;
  font-family: $subfamily;
  font-size: 16px;
  line-height: 32px;
  color: $white;
  &:disabled,
  &.disabled {
    color: $neutral;
    font-weight: normal;
    background-color: $averagegray;
  }
  &:hover {
    color: $white;
  }
}
.btn-primary--icon {
  display: flex;
  align-items: center;
  .svg-icon {
    margin-right: 10px;
    max-width: 24px;
    max-height: 24px;
  }
}
.btn-basket--icon {
  width: 16px;
  height: 20px;
  margin-right: 10px;
}

.btn-gold {
  border: 1px solid $gold;
  border-radius: 4px;
  font-family: $subfamily;
  font-size: 15px;
  line-height: 32px;
  color: $gold;
  padding: 5px 20px;
  &:hover,
  &:active {
    color: $gold;
  }
}

.link-gold {
  font-family: $subfamily;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $gold;
  text-decoration: underline;
}

.btn-change-color {
  position: relative;
  width: 58px;
  height: 78px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid 2px transparent;
  &.active,
  &:active {
    border-color: $gold;
  }
}
.btn-size {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $gray;
  font-family: $subfamily;
  text-decoration: underline;
}
.btn-link-gray {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: $subfamily;
  color: $gray;
  text-decoration: underline;
}
