.base-input {
  padding: 14px 20px 12px 20px;
  border: 1px solid $black;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;
  color: $black;
  &::placeholder {
    color: #b5b5b5;
  }
  &:focus {
    outline: none;
  }
}
