.slider-wrapper {
  position: relative;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 48px;
  height: 48px;
  background-color: $white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: $sec;
  z-index: 2;
  .svg-icon {
    width: 9px;
    height: 14px;
  }
  &:active {
    transform: translate(0, -50%) scale(0.95);
  }
  &:focus {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    color: $sec;
  }
  &:hover {
    box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.1);
    color: $accent;
  }
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.slider-arrow--prev {
  left: 0;
  .svg-icon {
    margin-right: 4px;
  }
}
.slider-arrow--next {
  right: 0;
  .svg-icon {
    margin-left: 3px;
  }
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: auto;
  &:focus {
    outline: none;
  }
}
.slick-dots {
  position: absolute;
  display: flex;
  li {
    display: flex;
    position: relative;
    margin-right: 16px;
    @media screen and (max-width: $mobile-bp) {
      margin-right: 8px;
    }
    button {
      font-size: 0;
      line-height: 0;
      width: 6px;
      height: 6px;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $gray4;
        transition: all $base-duration $base-timing;
      }
      @media screen and (max-width: $mobile-bp) {
        width: 4px;
        height: 4px;
        &::before {
          width: 4px;
          height: 4px;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &.slick-active {
      button {
        &::before {
          transform: scale(1.7);
          background-color: $black;
        }
        @media screen and (max-width: $mobile-bp) {
          &::before {
            transform: scale(1);
          }
        }
      }
    }
  }
}
