.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  @media screen and (min-width: $tablet-bp) {
    display: flex;
    align-items: center;
    padding: 0 40px 0 40px;
    height: 80px;
    background-color: $white;
  }
  @media screen and (min-width: $laptop-bg) {
    padding: 0 84px 0 64px;
  }
}
.main-header-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 17px 24px;
  height: 64px;
  background-color: $white;
  @media screen and (min-width: $tablet-bp) {
    padding: 0;
    height: auto;
    width: auto;
    margin-right: 40px;
  }
  @media screen and (min-width: $laptop-bg) {
    margin-right: 70px;
  }
}
.main-header-hamburger {
  margin-right: 12px;
}
.main-header-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @media screen and (min-width: $tablet-bp) {
    position: static;
    transform: translate(0, 0);
  }
  img {
    display: block;
    width: 64px;
    height: auto;
    @media screen and (min-width: $tablet-bp) {
      width: 80px;
    }
    @media screen and (min-width: $laptop-bg) {
      width: 100px;
    }
  }
}
.main-header-btn-basket {
  margin-left: auto;
}

// navigation
.main-header-nav {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 112px 24px 24px 24px;
  background-color: $white;
  @media screen and (min-width: $tablet-bp) {
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 0;
  }
  &.main-header-nav--show {
    display: flex;
  }
}
.main-header-nav-item-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  @media screen and (min-width: $tablet-bp) {
    flex-direction: row;
  }
}
.main-header-nav-item {
  display: inline-block;
  line-height: 56px;
  @media screen and (min-width: $tablet-bp) {
    margin-right: 26px;
  }
  @media screen and (min-width: $laptop-bg) {
    margin-right: 40px;
  }
  a {
    position: relative;
    font-size: 24px;
    color: $black;
    white-space: nowrap;
    transition: color $base-duration $base-timing;
    @media screen and (min-width: $tablet-bp) {
      font-size: 16px;
    }
    @media screen and (min-width: $laptop-bg) {
      font-size: 18px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1px;
      background-color: $black;
      opacity: 0;
      transition: opacity $base-duration $base-timing;
    }
    &:hover {
      color: $gray;
    }
    &:active,
    &.active {
      &::after {
        opacity: 1;
      }
    }
  }
}
.main-header-nav-location {
  margin-bottom: 50px;
  @media screen and (min-width: $tablet-bp) {
    display: none;
  }
}
.main-header-nav-location-item {
  position: relative;
  display: inline-block;
  color: $averagegray;
  padding-left: 16px;
  span,
  a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 1px;
      background-color: $averagegray;
      opacity: 0;
      transition: opacity $base-duration $base-timing;
    }
    &:active,
    &.active {
      &::after {
        opacity: 1;
      }
    }
  }
}
.main-header-nav-location-item-icon {
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.main-header-nav-lang-item {
  display: inline-block;
  line-height: 56px;
  margin-right: 12px;
  @media screen and (min-width: $tablet-bp) {
    display: none;
  }
  &:last-child {
    margin-right: 0;
  }
  a {
    position: relative;
    font-size: 18px;
    font-family: $subfamily;
    color: $black;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: $black;
      opacity: 0;
      transition: opacity $base-duration $base-timing;
    }
    &:active,
    &.active {
      font-weight: bold;
      &::after {
        opacity: 1;
      }
    }
  }
}
.main-header-link-block {
  display: none;
  @media screen and (min-width: $tablet-bp) {
    display: flex;
  }
}
.header-link-item {
  margin-right: 24px;
  &:last-child {
    margin-right: 0;
  }
}
.btn-hamburger--hide-desktop {
  display: block;
  @media screen and (min-width: $tablet-bp) {
    display: none;
  }
}
.btn-search--hide-desktop {
  display: flex;
  @media screen and (min-width: $tablet-bp) {
    display: none;
  }
}
.btn-basket--hide-desktop {
  display: flex;
  @media screen and (min-width: $tablet-bp) {
    display: none;
  }
}
