.container-order {
  padding: 64px 24px 42px 24px;
  @media screen and (min-width: $tablet-bp) {
    padding: 80px 40px 62px 14px;
  }
}
.order-row {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $tablet-bp) {
    flex-direction: row;
  }
}
.order-column {
  @media screen and (min-width: $tablet-bp) {
    flex-basis: 33.33%;
    padding: 0 32px;
  }
}
.order-title {
  padding: 24px 0;
  font-family: $subfamily;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  @media screen and (min-width: $tablet-bp) {
    margin: 0 32px;
    border-bottom: 1px solid $neutral;
  }
}

.order-block {
  border-top: 1px solid $neutral;
  padding: 28px 0 8px 0;
  @media screen and (min-width: $tablet-bp) {
    border-color: transparent;
  }
}
.radio-btn-wrapper--order {
  margin-bottom: 24px;
}
.base-input-wrapper--delivery {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 30px;
}
.base-input-wrapper-title {
  font-size: 16px;
  line-height: 24px;
  color: #6b6b6b;
  margin-bottom: 2px;
}

.base-input--order {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: $mainfamily;
}
.order-item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 16px;
}
.base-input-wrapper-half {
  display: flex;
  .base-input-wrapper {
    &:first-child {
      margin-right: 20px;
    }
  }
}
.base-input-wrapper--adress {
  width: 100%;
  flex-basis: 100%;
  margin-bottom: 24px;
}
.btn-wrapper-order {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-primary--payment {
  width: 100%;
  max-width: 310px;
  margin-bottom: 20px;
  padding: 8px 20px;
}
.btn-wrapper-order-text {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}
.popup-auth {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  .iti--allow-dropdown {
    width: 100%;
  }
}
.popup-auth--show {
  display: block;
}
.base-input-wrapper--popup-auth {
  width: 100%;
  margin-bottom: 24px;
}
.popup-auth-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 560px;
  padding: 24px 12px 0 12px;
  background-color: $white;
  @media screen and (min-width: $tablet-bp) {
    padding: 24px 72px 12px 72px;
  }
}
.popup-auth-form {
  display: none;
}
.popup-auth-form--show {
  display: block;
}
.base-input--popup-auth {
  width: 100%;
}
.btn-primary--popup-auth {
  display: block;
  max-width: 270px;
  width: 100%;
  margin: 0 auto 24px auto;
}

.btn-close-popup-auth {
  position: absolute;
  right: 4px;
  top: 4px;
  color: $black;
  @media screen and (min-width: $tablet-bp) {
    right: 8px;
    top: 8px;
  }
  &:hover {
    opacity: 0.8;
  }
}
.btn-close-popup-auth-icon {
  width: 16px;
  height: 16px;
  @media screen and (min-width: $tablet-bp) {
    width: 18px;
    height: 18px;
  }
}
.popup-auth-title {
  margin-bottom: 24px;
  font-family: $subfamily;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

#phoneInputErr {
  display: block;
  &.hide {
    display: none;
  }
}
.popup-auth-form-text {
  color: $gray;
  text-align: center;
  margin-bottom: 24px;
}
